<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- <meta http-equiv="refresh" content="5">  -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=JetBrains+Mono&display=swap" rel="stylesheet">
        <title>InfraCraft</title>
    </head>

    <body> 
        <div class="sidebar_brand">
            <span class="brand_name">InfraCraft</span>
        </div>
        <div class="main">
            <div class="left_container">
                <div class="left_container_box"> 
                    <a href="/" class="nav_button">
                        <img src="{{ url_for('static', filename='icons/add.png') }}" alt="Submit Icon" class="nav_icon">Submit Job</a>
                    <a href="/live_job" class="nav_button">
                        <img src="{{ url_for('static', filename='icons/pulse.png') }}" alt="Live Jobs Icon" class="nav_icon">Live Jobs</a>
                    <a href="/status" class="nav_button">
                        <img src="{{ url_for('static', filename='icons/checked.png') }}" alt="Status Icon" class="nav_icon">Status</a>
                </div>                
            </div>
            <div class="main_middle_body">
                <div class="submit_job_section">
                    <h2 class="submit_job_hdn"> Submit Job</h2>
                    <p class="submit_job_p"> Submit a new shell command to run as a background job</p>
        
                    <div class="enter_command_container">
                        <form action="/submit" method="POST">
                            <input type="hidden" name="local_time" id="local_time">
                            <h2 class="enter_hdn"> New Command </h2>
                            <p class="enter_p">Choose a Command</p>
                            <select  class="command_input_section" name="command" requied>
                                <option value="" disabled selected>Select a job to run</option>
                                {% for script in script_options %}
                                    <option value="{{ script }}">{{ script }}</option>
                                {% endfor %}
                            </select>

                            <button class="submit_job_btn" type="submit">Submit Job</button>
                        </form>
                    </div>
        
                    <div class="recent_job_container">
                        <h2 class="recent_p">Recent jobs</h2>
                        <div id="recent-jobs">
                            {% include 'recent_jobs_partial.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function refreshRecentJobs() {
                fetch('/api/recent_jobs')  // Flask route that returns this partial
                .then(response => response.text())
                .then(html => {
                    document.getElementById('recent-jobs').innerHTML = html;
                });
            }

            setInterval(refreshRecentJobs, 2000);

            const localInput = document.getElementById('local_time');
            const now = new Date();
          
            // Format time as hh:mm AM/PM
            const formatted = now.toLocaleTimeString([], {
              hour: '2-digit',
              minute: '2-digit',
              hour12: true
            });
          
            localInput.value = formatted;
          </script>
          
    </body>

    <footer>
        <p>🚀 Built for Builders.</p>
    </footer>
</html>