<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- Optional: link to your CSS file -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=JetBrains+Mono&display=swap" rel="stylesheet">
    <title>InfraCraft - Live Jobs</title>
</head>
<body>

    <div class="sidebar_brand">
        <span class="brand_name">InfraCraft</span>
    </div>
    <div class="main">
        <div class="left_container">
            <div class="left_container_box"> 
                <a href="/" class="nav_button">
                    <img src="{{ url_for('static', filename='icons/add.png') }}" alt="Submit Icon" class="nav_icon">Submit Job</a>
                <a href="/live_job" class="nav_button">
                    <img src="{{ url_for('static', filename='icons/pulse.png') }}" alt="Live Jobs Icon" class="nav_icon">Live Jobs</a>
                <a href="/status" class="nav_button">
                    <img src="{{ url_for('static', filename='icons/checked.png') }}" alt="Status Icon" class="nav_icon">Status</a>
            </div>    
        </div>
        <div class="main_middle_body">
            <h2 class="submit_job_hdn">Live Jobs</h2>
            <p class="submit_job_p">Monitor jobs currently in the queue or running</p>

            <div class="enter_command_container">
                <h2 class="enter_hdn">Active jobs </h2>
                {% if live_jobs %}
                    {% for job in live_jobs %}
                        <div class="all_jobs submit_job">
                            <div>
                                <span>{{ job.command if job.command else job['command']}}</span>
                                <p class="submit_time"> {{ job.submitted_at if job.submitted_at else job['submitted_at']}} • <span> Job ID:{{job.jobID if job.jobID else job["jobID"]}}</span></p>
                            </div>
                                <span class="submit_span {{ 'status_queued' if job['status'] == 'Queued' else 'status_running'}}"> {{ job.status if job.status else job['status']}}</span>
                        </div>  
                    {% endfor %}
                {% else %}
                        <p class="no_job">No live jobs.</p>
                {% endif %}
            </div>
        </div>
    </div>
    
    <script src="script.js"></script> <!-- Optional: link to your JavaScript file -->
</body>
<footer>
    <p>🚀 Powered by InfraCraft Systems. Built for Builders.</p>
</footer>
</html>
