<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta http-equiv="refresh" content="5">  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- Optional: link to your CSS file -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=JetBrains+Mono&display=swap" rel="stylesheet">
    <title>InfraCraft - Job Status</title>
</head>
<body>
    <!-- <p class="refresh_notice">🔄 Auto-refreshing every 10s</p> -->

    <div class="sidebar_brand">
        <span class="brand_name">InfraCraft</span>
    </div>
    <div class="main">
        <div class="left_container">
            <div class="left_container_box"> 
                <a href="/" class="nav_button">
                    <img src="{{ url_for('static', filename='icons/add.png') }}" alt="Submit Icon" class="nav_icon">Submit Job</a>
                <a href="/live_job" class="nav_button">
                    <img src="{{ url_for('static', filename='icons/pulse.png') }}" alt="Live Jobs Icon" class="nav_icon">Live Jobs</a>
                <a href="/status" class="nav_button">
                    <img src="{{ url_for('static', filename='icons/checked.png') }}" alt="Status Icon" class="nav_icon">Status</a>
            </div>    
        </div>
        <div class="main_middle_body">
            <div class="submit_job_section">
                <h2 class="submit_job_hdn"> Completed Jobs</h2>
                <p class="submit_job_p"> View all completed and failed job results</p>

                <div class="enter_command_container">
                    
                    <h2 class="enter_hdn">Job History</h2>
                    {% if all_jobs %}
                            {% for job in all_jobs %}
                                <div class="job_card">
                                    <div class="job_card_top">
                                        <div class="job_meta">
                                            <p class="job_command">{{ job['command'] }}</p>
                                            <p class="job_meta_info">{{ job['submitted_at'] }} • Job ID:{{ job['jobID'] }} </p>
                                        </div>
                                        <span class="status_badge 
                                        {% if job['status'] == 'Completed' %}status_completed
                                        {% elif job['status'] == 'Failed' %}status_failed
                                        {% elif job['status'] == 'Timeout' %}status_timeout
                                        {% endif %}">{{ job['status'] }}</span>
                                    </div>
                                    {% if job.output or job.error %}
                                    <details class="job_output">
                                        <summary>View Output</summary>
                                        <pre class="{{ 'output_success' if job['status'] == 'Completed' else 'output_fail' }}">{% if job['status'] == 'Completed' %}Build successful in {{ job['Completion_time'] }}sec{{ '\n' }}{% else %}Build failed{{ '\n' }}{% endif %}{% if job.output %}{{ (job.output[:500] + '...\n[Output truncated - showing first 500 characters]') if job.output|length > 500 else job.output }}{% elif job.error %}{{ (job.error[:500] + '...\n[Error output truncated - showing first 500 characters]') if job.error|length > 500 else job.error }}
                                                    {% endif %}</pre>
                                    </details>
                                    {% endif %}
                                </div>
                            {% endfor %}
                    {% else %}
                            <p class="no_job"> No job history.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <p>🚀 Built for Builders.</p>
</footer>
</html>
