<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- Optional: link to your CSS file -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=JetBrains+Mono&display=swap" rel="stylesheet">
    <title>InfraCraft - Job Status</title>
</head>
<body>

    <div class="sidebar_brand">
        <!-- <img src="{{ url_for('static', filename='icons/Logo.png')}}" class="logo_img"> -->
        <!-- <span class="logo_img">🚀</span> -->
        <span class="brand_name">InfraCraft</span>
    </div>
    <div class="main">
        <div class="left_container">
            <div class="left_container_box"> 
                <a href="/" class="nav_button">
                    <img src="{{ url_for('static', filename='icons/add.png') }}" alt="Submit Icon" class="nav_icon">Submit Job</a>
                <a href="/live_job" class="nav_button">
                    <img src="{{ url_for('static', filename='icons/pulse.png') }}" alt="Live Jobs Icon" class="nav_icon">Live Jobs</a>
                <a href="/status" class="nav_button">
                    <img src="{{ url_for('static', filename='icons/checked.png') }}" alt="Status Icon" class="nav_icon">Status</a>
            </div>    
        </div>
        <div class="main_middle_body">
            <h2 class="submit_job_hdn"> Completed Jobs</h2>
            <p class="submit_job_p"> View all completed and failed job results</p>

            <div class="enter_command_container">
                <h2 class="enter_hdn">Job History</h2>
                {% if all_jobs %}
                        {% for job in all_jobs %}
                        <div class="all_jobs">
                            <span>Job id:  {{ job.jobID if job.jobID else job['jobID']}}</span>
                            <span> | Command: {{ job.command if job.command else job['command']}}</span>
                            <span> | Status: {{ job.status if job.status else job['status']}} </span>
                            <span> | Completion Time: {{ job.Completion_time if job.Completion_time else job['Completion_time']}}sec</span>
                        </div>
                    {% endfor %}
                {% else %}
                        <p class="no_job"> No job history.</p>
                {% endif %}
            </div>
        </div>
    </div>
    
    <script src="script.js"></script> <!-- Optional: link to your JavaScript file -->
</body>
<footer>
    <p>🚀 Powered by InfraCraft Systems. Built for Builders.</p>
</footer>
</html>
